$button-light-purple: #eacefe;
$button-play-dark-purple: #a74bee;
$spelling-purple: #e3d8f7;
$gray: #747474;
$pumice: #d2d7d3;
$porcelain: #ecf0f1;
$rat: #757d75;
$bg-dark: #212529 !important;
$text-light: #f8f9fa !important ;
$err-color: #dc3545;
* {
  box-sizing: border-box;
}
body {
  transition: all 0.3s;
}
